Source: keyvi
Section: database
Priority: optional
Maintainer: Hendrik Muhs <hendrik.muhs@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
               scons,
               cmake,
               debhelper (>= 8~),
               zlib1g-dev
Standards-Version: 3.9.4
Homepage: http://www.keyvi.org

#Package: keyvi
#Architecture: amd64
#Depends: ${misc:Depends}
#Description: key value index
# Keyvi is key value index based on Finite State Transducer

Package: python-keyvi
Section: python
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: python bindings for keyvi
 Keyvi is key value index based on Finite State Transducer
