#!/usr/bin/make -f

SCONS=scons 

export MY_GXX_HOME="/work/gcc/rtf/" 
export PATH=/work/gcc/rtf/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
#export PATH="${MY_GXX_HOME}/bin:${PATH}" 
#export LD_LIBRARY_PATH="${MY_GXX_HOME}/lib:${MY_GXX_HOME}/lib64:${LD_LIBRARY_PATH}" 
#export LD_RUN_PATH="${MY_GXX_HOME}/lib:${MY_GXX_HOME}/lib64:${LD_LIBRARY_PATH}" 
export CXX=/work/gcc/rtf/bin/g++

#export DH_VERBOSE=1  
DEB_DESTDIR=$(PWD)/debian/tmp

%:
	dh $@

override_dh_auto_build:
	cd keyvi && $(SCONS) --boost-dir=/work/gcc/rtf/ mode=release
	cd pykeyvi && python2.7 setup.py build --staticlinkboost
override_dh_auto_clean:
	dh_auto_clean
	cd keyvi && $(SCONS) mode=release -c && rm -f .sconsign.dblite
	cd pykeyvi && rm -rf build && rm -rf pykeyvi.egg-info
	rm -rf $(DEB_DESTDIR)
	rm -f debian/*.substvars
	rm -f debian/files
	rm -f debian/*.debhelper*

override_dh_auto_install:
	cd keyvi && $(SCONS) mode=release install --prefix=$(DEB_DESTDIR)/usr
	cd pykeyvi && python setup.py install --root $(DEB_DESTDIR) --prefix=/usr/local
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
